<!--
  ~ This Source Code Form is subject to the terms of the Mozilla Public
  ~ License, v. 2.0. If a copy of the MPL was not distributed with this
  ~ file, You can obtain one at https://mozilla.org/MPL/2.0/.
  ~
  ~ Authors
  ~ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Created by Lunabee Studio / Date - 2020/04/05 - for the STOP-COVID project
  -->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lunabeestudio.stopcovid">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <application
        android:name=".StopCovid"
        android:allowBackup="false"
        android:configChanges="uiMode"
        android:debuggable="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.StopCovid"
        android:usesCleartextTraffic="false"
        tools:ignore="AllowBackup,HardcodedDebugMode,LockedOrientationActivity"
        tools:targetApi="m">
        <activity
            android:name=".activity.OnBoardingActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/Theme.StopCovid.Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <nav-graph android:value="@navigation/nav_on_boarding" />
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/Theme.StopCovid" />
        <activity
            android:name=".activity.AppMaintenanceActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:taskAffinity="" />

        <service
            android:name=".service.ProximityService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location|connectedDevice"
            android:taskAffinity="" />

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:exported="false"
            android:taskAffinity=""
            tools:node="replace" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>
    </application>

</manifest>